.open-account a {
  color: #212529;              
  text-decoration: none;
  font-weight: 400;
  transition: all 0.2s ease;
}

.open-account a:hover {
  color: #0d6efd;             
  text-decoration: underline;
}

.side-container {
    height: 150px;
    width:300px;
    background-color:#FFA2001A;
    display: flex;
    justify-items: center;

    padding-top: 30px;
    border-left: 10px solid orange;

}
.style td a {
  text-decoration: none;
}